<div class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="bg-white shadow-md rounded-lg p-8 max-w-md w-full">
    <h2 class="text-2xl font-bold mb-6 text-center">Cambiar Contraseña</h2>
    <form>
      <div class="mt-6 relative">
        <div>
          <label class="text-gray-800 font-bold text-sm block">
            {{ 'input.password.label' | translate }}
          </label>
          <div class="relative flex items-center group">
            <input
              formControlName="password"
              name="password"
              [type]="hide ? 'password' : 'text'"
              required
              class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
              placeholder="{{ 'input.password.placeholder' | translate }}"
            />
            <div
              class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
            >
              <button
                type="button"
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon class="text-dark-gunmetal">{{
                  hide ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </div>
          </div>
          <p
            class="absolute w-full text-center text-red-500 text-xs font-medium mt-1 h-5"
            *ngIf="
              changePasswordForm.get('password')?.touched ||
              (changePasswordForm.get('password')?.touched ||
                changePasswordForm.get('password')?.dirty)
            "
          >
            {{ getErrorMessage('password') }}
          </p>
        </div>
      </div>
      <div class="mb-4">
        <label for="newPassword" class="block text-sm font-medium text-gray-700"
          >Nueva Contraseña</label
        >
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          required
          class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-indigo-500 focus:border-indigo-500"
        />
      </div>
      <div class="mb-6">
        <label
          for="confirmPassword"
          class="block text-sm font-medium text-gray-700"
          >Confirmar Nueva Contraseña</label
        >
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
          class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-indigo-500 focus:border-indigo-500"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-indigo-600 text-white font-bold py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50"
      >
        Cambiar Contraseña
      </button>
    </form>
    <p class="mt-4 text-center text-sm text-gray-600">
      ¿Olvidaste tu contraseña?
      <a href="#" class="text-indigo-600 hover:text-indigo-500">Restablecer</a>
    </p>
  </div>
</div>
