<div
  class="bg-gray-100 flex items-center justify-center min-h-full-screen mx-4"
>
  <div class="bg-white shadow-md rounded-lg p-8 max-w-md w-full">
    <h2 class="text-2xl font-bold mb-6 text-center">Cambiar Contraseña</h2>
    <form
      [formGroup]="passwordChangeForm"
      (submit)="onSubmit()"
      class="space-y-8"
    >
      <div class="relative">
        <label
          class="text-gray-800 font-semibold text-sm block"
          for="oldPassword"
        >
          {{ 'input.oldPassword.label' | translate }}
        </label>
        <div class="relative flex items-center group">
          <input
            [type]="hideOldPassword ? 'password' : 'text'"
            id="oldPassword"
            placeholder="{{ 'input.oldPassword.placeholder' | translate }}"
            formControlName="oldPassword"
            class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
          />
          <div
            class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
          >
            <button
              type="button"
              (click)="hideOldPassword = !hideOldPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideOldPassword"
            >
              <mat-icon>{{
                hideOldPassword ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
          </div>
        </div>
        <p
          *ngIf="
            passwordChangeForm.get('oldPassword')?.errors &&
            (passwordChangeForm.get('oldPassword')?.touched ||
              passwordChangeForm.get('oldPassword')?.dirty)
          "
          class="absolute w-full text-red-500 text-xs text-center font-medium mt-1"
        >
          {{ getErrorMessage('oldPassword') }}
        </p>
      </div>
      <div class="relative">
        <label
          class="text-gray-800 font-semibold text-sm block"
          for="newPassword"
        >
          {{ 'input.newPassword.label' | translate }}
        </label>
        <div class="relative flex items-center group">
          <input
            [type]="hideNewPassword ? 'password' : 'text'"
            id="newPassword"
            placeholder="{{ 'input.newPassword.placeholder' | translate }}"
            formControlName="newPassword"
            class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
          />
          <div
            class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
          >
            <button
              type="button"
              (click)="hideNewPassword = !hideNewPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideNewPassword"
            >
              <mat-icon>{{
                hideNewPassword ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
          </div>
        </div>
        <p
          *ngIf="
            passwordChangeForm.get('newPassword')?.errors &&
            (passwordChangeForm.get('newPassword')?.touched ||
              passwordChangeForm.get('newPassword')?.dirty)
          "
          class="absolute w-full text-red-500 text-xs text-center font-medium mt-1"
        >
          {{ getErrorMessage('newPassword') }}
        </p>
      </div>

      <div class="relative">
        <label
          class="text-gray-800 font-semibold text-sm block"
          for="confirmPassword"
        >
          {{ 'input.confirmPassword.label' | translate }}
        </label>
        <div class="relative flex items-center group">
          <input
            [type]="hideConfirm ? 'password' : 'text'"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'input.confirmPassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
          />
          <div
            class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
          >
            <button
              type="button"
              (click)="hideConfirm = !hideConfirm"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirm"
            >
              <mat-icon>{{
                hideConfirm ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
          </div>
        </div>
        <p
          *ngIf="
            passwordChangeForm.get('confirmPassword')?.errors &&
            (passwordChangeForm.get('confirmPassword')?.touched ||
              passwordChangeForm.get('confirmPassword')?.dirty)
          "
          class="absolute w-full text-red-500 text-xs text-center font-medium mt-1"
        >
          {{ getErrorMessage('confirmPassword') }}
        </p>
      </div>

      <div class="flex items-center justify-between space-x-4 mt-6">
        <button
          (click)="clearForm()"
          type="button"
          class="text-dark-gunmetal text-sm tracking-wider hover:text-metallic-blue font-semibold w-full active:scale-95 transition-colors duration-300 ease-in-out"
        >
          {{ 'button.cancel' | translate }}
        </button>

        <button
          type="submit"
          [disabled]="passwordChangeForm.invalid"
          [ngClass]="{
            'opacity-60 cursor-not-allowed': passwordChangeForm.invalid,
            ' active:scale-95  hover:bg-sunset-orange-600':
              passwordChangeForm.valid
          }"
          class="w-full py-3 px-6 text-sm font-semibold bg-sunset-orange-500 rounded-md text-white focus:outline-none transition-colors duration-300 ease-in-out"
        >
          {{ 'button.submit' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
