<div class="bg-white lg:h-screen">
  <a
    [routerLink]="['/']"
    class="absolute top-4 left-4 z-10 xl:text-white text-dark-gunmetal"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <div class="grid xl:grid-cols-2 items-center gap-8 h-full">
    <div
      class="max-xl:order-1 hidden xl:block p-4 relative h-full bg-dark-gunmetal"
    >
      <img
        src="assets/svg/register.svg"
        class="lg:max-w-[80vh] w-full h-full object-contain block mx-auto"
        alt="register-illustration"
      />
    </div>

    <div class="flex relative justify-center items-center p-6 h-screen w-full">
      <img
        alt="wave-decoration"
        src="assets/img/wave3.png"
        class="absolute top-0 h-full -left-16 hidden xl:block object-contain"
      />
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
        class="max-w-sm w-full mx-auto"
      >
        <div class="mb-10">
          <h3
            class="text-sunset-orange-500 xl:text-3xl text-2xl font-bold max-xl:text-center"
          >
            {{ 'register.SignUp' | translate }}
          </h3>
          <p
            class="text-sm font-medium mb-6 tracking-wide text-gray-500 max-xl:text-center"
          >
            {{ 'register.description' | translate }}
          </p>
        </div>
        <div class="relative w-24 h-24 mx-auto group">
          <label for="image" class="w-full h-full cursor-pointer">
            <img
              class="w-full h-full rounded-full border border-collapse border-sunset-orange-500"
              [src]="
                selectedPhoto
                  ? selectedPhoto
                  : 'https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg'
              "
              alt="profile"
            />
            <mat-icon
              class="absolute top-0 left-0 text-4xl w-full h-full flex justify-center items-center rounded-full cursor-pointer opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-gray-200 bg-opacity-60"
              aria-label="Upload icon"
              >upload</mat-icon
            >
          </label>
          <input
            id="image"
            type="file"
            (change)="handleFileChange($event)"
            class="hidden"
            multiple="multiple"
          />
        </div>

        <div class="mt-6 relative">
          <div>
            <label class="text-gray-800 font-semibold text-sm block" for="name">
              {{ 'input.name.label' | translate }}
            </label>
            <div class="relative flex items-center group">
              <input
                id="name"
                formControlName="name"
                type="text"
                required
                class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
                placeholder="{{ 'input.name.placeholder' | translate }}"
              />
              <div
                class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
              >
                <mat-icon aria-label="Email icon">person_add</mat-icon>
              </div>
            </div>
          </div>
          <p
            *ngIf="
              registerForm.get('name')?.errors &&
              (registerForm.get('name')?.touched ||
                registerForm.get('name')?.dirty)
            "
            class="absolute w-full text-center text-red-500 text-xs font-medium mt-1 h-5"
          >
            {{ getErrorMessage('name') }}
          </p>
        </div>
        <div class="mt-6 relative">
          <div>
            <label
              class="text-gray-800 font-semibold text-sm block"
              for="surname"
            >
              {{ 'input.surname.label' | translate }}
            </label>
            <div class="relative flex items-center group">
              <input
                id="surname"
                formControlName="surname"
                type="text"
                required
                class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
                placeholder="{{ 'input.surname.placeholder' | translate }}"
              />
              <div
                class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
              >
                <mat-icon aria-label="Surname icon">person_add</mat-icon>
              </div>
            </div>
          </div>
          <p
            *ngIf="
              registerForm.get('surname')?.errors &&
              (registerForm.get('surname')?.touched ||
                registerForm.get('surname')?.dirty)
            "
            class="absolute w-full text-center text-red-500 text-xs font-medium mt-1 h-5"
          >
            {{ getErrorMessage('surname') }}
          </p>
        </div>
        <div class="mt-6 relative">
          <div>
            <label
              class="text-gray-800 font-semibold text-sm block"
              for="email"
            >
              {{ 'input.email.label' | translate }}
            </label>
            <div class="relative flex items-center group">
              <input
                id="email"
                formControlName="email"
                type="text"
                required
                class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
                placeholder="{{ 'input.email.placeholder' | translate }}"
              />
              <div
                class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
              >
                <mat-icon aria-label="Email icon">email</mat-icon>
              </div>
            </div>
          </div>

          <p
            *ngIf="
              registerForm.get('email')?.errors &&
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty)
            "
            class="absolute w-full text-red-500 text-xs text-center font-medium mt-1 h-5"
          >
            {{ getErrorMessage('email') }}
          </p>
        </div>

        <div class="mt-6 relative">
          <div>
            <label
              class="text-gray-800 font-semibold text-sm block"
              for="username"
            >
              {{ 'input.username.label' | translate }}
            </label>
            <div class="relative flex items-center group">
              <input
                id="username"
                formControlName="username"
                type="text"
                required
                class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
                placeholder="{{ 'input.username.placeholder' | translate }}"
              />
              <div
                class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
              >
                <mat-icon aria-label="Email icon">badge</mat-icon>
              </div>
            </div>
            <p
              class="absolute w-full text-center text-red-500 text-xs font-medium mt-1 h-5"
              *ngIf="
                registerForm.get('username')?.errors &&
                (registerForm.get('username')?.touched ||
                  registerForm.get('username')?.dirty)
              "
            >
              {{ getErrorMessage('username') }}
            </p>
          </div>
        </div>

        <div class="mt-12">
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            [ngClass]="{
              'opacity-60 cursor-not-allowed': registerForm.invalid,
              ' active:scale-95  hover:bg-sunset-orange-600': registerForm.valid
            }"
            class="w-full py-3 px-6 text-sm font-semibold bg-sunset-orange-500 rounded-md text-white focus:outline-none transition-colors duration-300 ease-in-out"
          >
            {{ 'register.SignUp' | translate }}
          </button>
          <p class="text-sm mt-4 text-gray-800 font-semibold text-center">
            {{ 'register.haveAccount' | translate }}
            <a
              routerLink="/auth/login"
              class="text-sunset-orange-500 font-semibold hover:underline ml-1"
              >{{ 'register.link' | translate }}</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
