<div class="font-[sans-serif] bg-dark-gunmetal lg:h-screen">
  <div class="grid lg:grid-cols-2 items-center gap-8 h-full">

    <div class="flex items-center justify-center lg:p-8 p-6 bg-white h-screen">
      <div class="max-w-lg w-full">
        <div class="mb-12">
          <h3 class="text-gray-800 text-4xl font-extrabold">Forgot password</h3>
        </div>

        <mat-stepper class="example-stepper" linear [orientation]="(stepperOrientation | async)!">
          <!-- Primer paso -->
          <mat-step [stepControl]="emailForm" label="Email" [editable]="isEditable">
            <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="space-y-5 mt-6">
              <p class="text-gray-600 text-center text-sm mb-4">
                Enter your email address to receive a verification link to reset your password.
              </p>

              <div>
                <div class="relative">
                  <input type="email" id="email" name="email" placeholder="Email" formControlName="email"
                    class="bg-bright-gray w-full text-gray-800 text-base px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200"
                    autocomplete="off" />
                  <div class="absolute inset-y-0 right-4 flex items-center">
                    <mat-icon aria-label="Email icon">email</mat-icon>
                  </div>
                </div>
                <p *ngIf="emailForm.get('email')?.errors && (emailForm.get('email')?.touched || emailForm.get('email')?.dirty)"
                  class="text-red-500 text-xs text-center font-medium mt-1">
                  {{ getErrorMessage('email') }}
                </p>
              </div>

              <div class="flex space-x-4">
                <button
                  class="w-full bg-metallic-blue text-white p-1.5 lg:p-3 rounded hover:bg-charcoal transition-colors duration-200 active:scale-95"
                  type="button" (click)="onBack()">
                  Back
                </button>
                <button matStepperNext class="w-full text-white p-1.5 lg:p-3 rounded transition-colors duration-200 "
                  [ngClass]="{
                    'bg-metallic-blue cursor-not-allowed': !emailForm.valid,
                    'bg-sunset-orange active:scale-95': emailForm.valid
                  }" type="submit" [disabled]="!emailForm.valid">
                  Continue
                </button>
              </div>
            </form>
          </mat-step>

          <!-- Segundo paso -->
          <mat-step [stepControl]="passwordChangeForm" label="New password" [editable]="isEditable">
            <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit2()" class="space-y-5 mt-6">
              <p class="text-gray-600 text-center text-sm mb-4">
                Enter the verification code sent to your email and set a new password.
              </p>
              <div>
                <div class="relative">
                  <input type="email" id="email" name="email" placeholder="Email" formControlName="email" [ngClass]="{
                    'brightness-50': passwordChangeForm.get('email')?.value,
                    'bg-bright-gray': !passwordChangeForm.get('email')?.value
                  }" class="w-full text-gray-800 px-3 py-3 border-b border-dark-gunmetal outline-none"
                    [value]="passwordChangeForm.get('email')?.value" readonly />
                  <div class="absolute inset-y-0 right-4 flex items-center">
                    <mat-icon aria-label="Email icon">email</mat-icon>
                  </div>
                </div>
              </div>
              <div>
                <div class="relative">
                  <input type="text" id="verificationCode" name="verificationCode" placeholder="Verification Code"
                    formControlName="verificationCode"
                    class="bg-bright-gray w-full text-gray-800 px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200" />
                  <div class="absolute inset-y-0 right-4 flex items-center">
                    <mat-icon aria-label="Code icon">password</mat-icon>
                  </div>
                </div>
                <p *ngIf="passwordChangeForm.get('verificationCode')?.errors && (passwordChangeForm.get('verificationCode')?.touched || passwordChangeForm.get('verificationCode')?.dirty)"
                  class="text-red-500 text-xs text-center font-medium mt-1">
                  {{ getErrorMessage('verificationCode') }}
                </p>
              </div>

              <div>
                <div class="relative">
                  <input [type]="hide ? 'password' : 'text'" id="password" name="password" placeholder="New Password"
                    formControlName="password"
                    class="bg-bright-gray w-full text-gray-800 px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200" />
                  <div class="absolute inset-y-0 right-4 flex items-center">
                    <button type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </div>
                </div>
                <p *ngIf="passwordChangeForm.get('password')?.errors && (passwordChangeForm.get('password')?.touched || passwordChangeForm.get('password')?.dirty)"
                  class="text-red-500 text-xs text-center font-medium mt-1">
                  {{ getErrorMessage('password') }}
                </p>
              </div>

              <div>
                <div class="relative">
                  <input [type]="hideConfirm ? 'password' : 'text'" id="confirmPassword" name="confirmPassword"
                    placeholder="Confirm Password" formControlName="confirmPassword"
                    class="bg-bright-gray w-full text-gray-800 px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200" />
                  <div class="absolute inset-y-0 right-4 flex items-center">
                    <button type="button" (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideConfirm">
                      <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </div>
                </div>
                <p *ngIf="passwordChangeForm.get('confirmPassword')?.errors && (passwordChangeForm.get('confirmPassword')?.touched || passwordChangeForm.get('confirmPassword')?.dirty)"
                  class="text-red-500 text-xs text-center font-medium mt-1">
                  {{ getErrorMessage('confirmPassword') }}
                </p>
              </div>
              <div class="flex space-x-4">
                <button
                  class="w-full bg-metallic-blue text-white p-1.5 lg:p-3 rounded-md hover:bg-charcoal transition-colors duration-200 active:scale-95"
                  type="button" matStepperPrevious>
                  Back
                </button>
                <button matStepperNext class="w-full text-white p-1.5 lg:p-3 rounded-md transition duration-200 "
                  [ngClass]="{
                    'bg-metallic-blue cursor-not-allowed': !passwordChangeForm.valid,
                    'bg-sunset-orange active:scale-95': passwordChangeForm.valid
                  }" type="submit" [disabled]="!passwordChangeForm.valid">
                  Change
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step label="Confirmation">
            <div class="text-center space-y-5 mt-6">
              <h4 class="text-gray-800 text-2xl font-extrabold">Password Changed Successfully!</h4>
              <p class="text-gray-600 text-sm mt-2">
                Your password has been changed. You can now log in with your new password.
              </p>
              <div>
                <button (click)="onBack()"
                  class="mt-4 bg-sunset-orange w-full text-white p-1.5 lg:p-3 rounded-md transition-colors duration-200 active:scale-95">
                  Back to Login
                </button>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>

    <div class="max-lg:order-1 p-4 hidden lg:block">
      <img src="../../../assets/svg/forgotPassowrd.svg"
        class="lg:max-w-[80%] w-full h-full object-contain block mx-auto" alt="login-image" />
    </div>
  </div>
</div>