<div class="flex h-full flex-col lg:flex-row">
    <div
        class="bg-white w-full lg:w-[450px] h-full min-h-[650px] lg:min-h-[600px] rounded-[5px] pt-6 px-6 shadow-[0_2px_10px_rgba(0,0,0,0.1)] flex flex-col justify-between mb-5 lg:me-5">
        <div>
            <h1 class="text-left text-xl font-bold">{{ "Profiles" | translate }}</h1>
            <form class="mt-4 max-w-md mx-auto">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search"
                        class="block w-full p-4 ps-10 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400"
                        placeholder="{{ 'Search' | translate }}" (input)="filterProfiles($event)" />
                </div>
            </form>
        </div>

        <div class="flex flex-col mt-4 overflow-auto">
            <div class="flex flex-wrap items-center mb-4 cursor-pointer hover:bg-gray-100"
                *ngFor="let profile of filteredProfiles" (click)="selectProfile(profile)">
                <div class="h-2.5 w-2.5 rounded-full me-2" [ngClass]="{
         'bg-green-500': profile.status, 
         'bg-red-500': !profile.status
     }">
                </div>
                <div class="flex-1 flex items-center text-gray-900 whitespace-normal dark:text-black">
                    <div class="ps-3 text-left w-full">
                        <div class="text-base font-semibold">{{ profile.name }}</div>
                        <div class="font-normal text-gray-500">{{ profile.description }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-auto">
            <mat-paginator [length]="totalItems" [pageIndex]="currentPage" [hidePageSize]="true" [pageSize]="8"
                (page)="handlePageEvent($event)">
            </mat-paginator>
        </div>
    </div>

    <div class="flex flex-col w-full h-full">
        <div class="bg-white w-full min-h-60 lg:min-h-40 rounded-[5px] p-6 shadow-[0_2px_10px_rgba(0,0,0,0.1)] mb-5">
            <div class="flex justify-between items-center">
                <h1 class="text-left text-xl font-bold">{{ "Save" | translate }}</h1>
                <div class="flex space-x-1 items-center">
                    <button *ngIf="selectedProfile?.idProfile"
                        class="text-sm font-bold px-3 mr-2 py-2 rounded-lg border-2 cursor-pointer"
                        [ngClass]="{'border-green-500 text-green-500': selectedProfile?.status,'border-red-500 text-red-500': !selectedProfile?.status}"
                        (click)="toggleStatus()">
                        {{ selectedProfile?.status ? 'Habilitado' : 'Desactivado' }}
                    </button>
                    <button class="text-white font-medium rounded-lg text-sm px-6 py-2" [ngClass]="{
    'bg-red-600': checkIfCanSave(),
    'bg-gray-400 cursor-not-allowed': !checkIfCanSave()
  }" [disabled]="!checkIfCanSave()" (click)="saveProfile()">
                        {{ "Save" | translate }}
                    </button>
                </div>
            </div>

            <div class="flex flex-col lg:flex-row space-y-5 lg:space-y-0 lg:space-x-32 mt-4">
                <form class="max-w-xs w-full">
                    <div class="relative">
                        <input type="text"
                            class="block w-full p-4 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400"
                            placeholder="{{ 'Name' | translate }}" [(ngModel)]="selectedProfile.name" name="name"
                            required />
                    </div>
                </form>
                <form class="w-full">
                    <div class="relative">
                        <input type="text"
                            class="block w-full p-4 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400"
                            placeholder="{{ 'Description' | translate }}" [(ngModel)]="selectedProfile.description"
                            name="description" required />
                    </div>
                </form>
            </div>
        </div>

        <!-- Administration -->
        <div class="flex flex-col lg:flex-row w-full h-full">
            <div class="flex flex-col lg:flex-row space-y-5 lg:space-x-5 lg:space-y-0 w-full h-[915px] lg:h-full">

                <!-- Administration container-->
                <div
                    class="bg-white w-full rounded-[5px] p-6 h-[915px] lg:h-auto mb-5 lg:mb-0 shadow-[0_2px_10px_rgba(0,0,0,0.1)] ">
                    <h2 class="text-lg font-semibold">{{ 'Administration' | translate }}</h2>
                    <hr class="border-t border-gray-300 my-2">

                    <!-- Container for available and assigned roles -->
                    <div
                        class="flex flex-col lg:flex-row justify-between pt-5 space-y-5 lg:space-x-5 lg:space-y-0 h-[380px]">

                        <!-- Available roles section -->
                        <div
                            class="flex flex-col w-full lg:w-1/2 bg-white p-1 px-6 rounded-md shadow-[0_2px_10px_rgba(0,0,0,0.2)]">
                            <div class="flex items-center justify-between space-x-4">
                                <h3 class="font-semibold mt-5">Disponibles</h3>
                                <div class="relative w-3/4">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                        </svg>
                                    </div>
                                    <input type="search"
                                        class="block w-full p-4 ps-10 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400"
                                        placeholder="{{ 'Search' | translate }}"
                                        (input)="filterRolesDisponibles($event)" />
                                </div>
                            </div>

                            <!-- Container available roles -->
                            <div class="roles-container mt-3 overflow-y-auto max-h-64 space-y-2">
                                <div *ngFor="let role of filteredRolesAvailable"
                                    class="flex justify-between items-center p-2">
                                    {{ role.name }}
                                    <button class="text-red-500" (click)="asignarRol(role)">
                                        <mat-icon aria-hidden="false" fontIcon="chevron_right"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Move All Buttons -->
                        <div class="flex justify-center items-center lg:flex-col space-x-2 lg:space-x-0 lg:space-y-2">
                            <button class="bg-red-500 text-white p-2 w-12 h-12 rounded-full"
                                (click)="moverTodosAAsignados()">
                                <mat-icon class="lg:rotate-0 rotate-90" aria-hidden="false"
                                    fontIcon="last_page"></mat-icon>
                            </button>
                            <button class="bg-red-500 text-white p-2 w-12 h-12 rounded-full"
                                (click)="moverTodosADisponibles()">
                                <mat-icon class="lg:rotate-0 rotate-90" aria-hidden="false"
                                    fontIcon="first_page"></mat-icon>
                            </button>
                        </div>


                        <!-- Assigned Roles Section -->
                        <div
                            class="flex flex-col w-full lg:w-1/2 bg-white p-1 px-6 rounded-md shadow-[0_2px_10px_rgba(0,0,0,0.2)]">
                            <div class="flex items-center justify-between space-x-4">
                                <h3 class="font-semibold mt-5">Asignados</h3>
                                <div class="relative w-3/4">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                        </svg>
                                    </div>
                                    <input type="search"
                                        class="block w-full p-4 ps-10 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400"
                                        placeholder="{{ 'Search' | translate }}"
                                        (input)="filterRolesAsignados($event)" />
                                </div>
                            </div>

                            <!-- Assigned roles container -->
                            <div class="roles-container mt-3 overflow-y-auto max-h-64 space-y-2">
                                <div *ngFor="let role of filteredRolesAssigned"
                                    class="flex justify-between items-center p-2">
                                    {{ role.name }}
                                    <button class="text-red-500" (click)="quitarRol(role)">
                                        <mat-icon aria-hidden="false" fontIcon="chevron_left"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>