<div class="p-4">
  <h2 class="text-xl font-semibold mb-4">Auditoría</h2>

  <table mat-table [dataSource]="dataSource" class="w-full mat-elevation-z8 text-sm sm:text-base">
    <!-- Entidad Column -->
    <ng-container matColumnDef="entidad">
      <th mat-header-cell *matHeaderCellDef class="px-4 py-2"> Entidad </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2"> {{element.entidad}} </td>
    </ng-container>

    <!-- Usuario Column -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef class="px-4 py-2"> Usuario </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2"> {{element.usuario}} </td>
    </ng-container>

    <!-- Operación Column -->
    <ng-container matColumnDef="operacion">
      <th mat-header-cell *matHeaderCellDef class="px-4 py-2"> Operación </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2"> {{element.operacion}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef class="px-4 py-2"> Fecha </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2"> {{element.fecha}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mt-4"></mat-paginator>
</div>
