<div class="h-full flex flex-col">
  <!-- Filtros -->

  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4 mb-4"
  >
    <input
      type="text"
      formControlName="email"
      placeholder="Buscar por correo electronico"
      class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
    />
    <!-- Fecha de inicio -->
    <input
      type="text"
      formControlName="startDate"
      onfocus="(this.type='date')"
      onblur="(this.type='text')"
      placeholder="Fecha de inicio"
      class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
    />

    <!-- Fecha final -->
    <input
      type="text"
      formControlName="endDate"
      onfocus="(this.type='date')"
      onblur="(this.type='text')"
      placeholder="Fecha final"
      class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
    />

    <app-dropdown
      [options]="[
        'ROLE',
        'TAG',
        'PROFILE',
        'QUESTION',
        'ANSWER',
        'PUBLICATION',
        'COMMENT',
        'USER'
      ]"
      placeholder="Choose an option"
      (selected)="searchForm.controls.entity.setValue($event)"
    />
    <app-dropdown
      [options]="['POST', 'GET', 'PUT', 'DELETE', 'PATCH']"
      placeholder="Choose an option"
      (selected)="searchForm.controls.httpMethod.setValue($event)"
    />
    <button
      submit
      class="bg-sunset-orange-500 text-white p-2 rounded hover:bg-sunset-orange-600 w-full"
    >
      {{ 'button.search' | translate }}
    </button>
  </form>

  <!-- Tabla de resultados -->
  <div class="flex-1 overflow-x-auto">
    <div class="min-w-full inline-block align-middle h-full">
      <div
        class="overflow-hidden border rounded-lg bg-white border-gray-300 h-full flex flex-col"
      >
        <div class="overflow-y-auto flex-1">
          <table class="min-w-full">
            <thead class="sticky top-0 bg-dark-gunmetal">
              <tr>
                <th
                  class="p-5 text-center text-sm leading-6 font-semibold text-light-gray capitalize"
                >
                  {{ 'audit.data.id' | translate }}
                </th>
                <th
                  class="p-5 text-center text-sm leading-6 font-semibold text-light-gray capitalize"
                >
                  {{ 'audit.data.email' | translate }}
                </th>
                <th
                  class="p-5 text-center text-sm leading-6 font-semibold text-light-gray capitalize"
                >
                  {{ 'audit.data.date' | translate }}
                </th>
                <th
                  class="p-5 text-center text-sm leading-6 font-semibold text-light-gray capitalize"
                >
                  {{ 'audit.data.entity' | translate }}
                </th>
                <th
                  class="p-5 text-center text-sm leading-6 font-semibold text-light-gray capitalize"
                >
                  {{ 'audit.data.http_method' | translate }}
                </th>
                <th
                  class="p-5 text-center text-sm leading-6 font-semibold text-light-gray capitalize"
                >
                  {{ 'audit.data.details' | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let audit of audits; let i = index"
                class="odd:bg-gray-100 even:bg-white"
              >
                <td
                  class="p-5 text-center whitespace-nowrap text-sm leading-6 font-medium text-gray-900 border-r border-gray-300"
                >
                  {{ (currentPage - 1) * pageSize + i + 1 }}
                </td>
                <td
                  class="p-5 text-center whitespace-nowrap text-sm leading-6 font-medium text-gray-900 border-r border-gray-300"
                >
                  {{ audit.email }}
                </td>
                <td
                  class="p-5 text-center whitespace-nowrap text-sm leading-6 font-medium text-gray-900 border-r border-gray-300"
                >
                  {{ audit.date_operation | dateFormat }}
                </td>
                <td
                  class="p-5 text-center whitespace-nowrap text-sm leading-6 font-medium text-gray-900 border-r border-gray-300"
                >
                  {{ audit.entity }}
                </td>
                <td
                  class="p-5 text-center whitespace-nowrap text-sm leading-6 font-black text-gray-900 border-r border-gray-300"
                >
                  <span [ngClass]="getHttpMethodClass(audit.http_method)">
                    {{ audit.http_method }}
                  </span>
                </td>
                <td
                  class="p-5 text-center whitespace-nowrap text-sm leading-6 font-medium text-gray-900 border-r border-gray-300"
                >
                  <button
                    (click)="openModal(audit)"
                    class="text-blue-500 hover:underline"
                  >
                    {{ 'audit.data.seeMore' | translate }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [length]="totalLength"
          [pageSize]="pageSize"
          [pageSizeOptions]="[12, 14, 16]"
          (page)="handlePageEvent($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent>
  <div class="space-y-3">
    <p>
      <strong>{{ 'audit.data.entity' | translate }}:</strong>
      {{ selectedAudit?.entity }}
    </p>
    <p>
      <strong>{{ 'audit.data.http_method' | translate }}:</strong>

      <span [ngClass]="getHttpMethodClass(selectedAudit?.http_method)">
        {{ selectedAudit?.http_method }}
      </span>
    </p>
    <p><strong>Email del usuario:</strong> {{ selectedAudit?.email }}</p>
    <p>
      <strong>{{ 'audit.data.date' | translate }}:</strong>
      {{ selectedAudit?.date_operation | date: 'short' }}
    </p>
    <p>
      <strong>Estado de la operación:</strong>
      <span [ngClass]="getStatusHttpMethod(selectedAudit?.status_code)">
        ({{ selectedAudit?.status_code }})
        {{ selectedAudit?.status_description }}
      </span>
    </p>
  </div>
</ng-template>
