<div class="p-5 max-w-lg w-full mx-auto bg-white rounded-lg shadow-lg">
  <h2 class="text-center text-2xl font-semibold mb-6">Agregar Usuario</h2>
  
  <form [formGroup]="userForm" class="space-y-4">
    <div>
      <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
      <input id="email" type="email" formControlName="email" placeholder="Ingresa el correo"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-sunset-orange focus:border-sunset-orange" required>
    </div>
    
    <div>
      <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
      <input id="name" type="text" formControlName="name" placeholder="Ingresa el nombre"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-sunset-orange focus:border-sunset-orange" required>
    </div>

    <div>
      <label for="surname" class="block text-sm font-medium text-gray-700">Apellido</label>
      <input id="surname" type="text" formControlName="surname" placeholder="Ingresa el apellido"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-sunset-orange focus:border-sunset-orange" required>
    </div>

    <div>
      <label for="username" class="block text-sm font-medium text-gray-700">Usuario</label>
      <input id="username" type="text" formControlName="username" placeholder="Ingresa el nombre de usuario"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-sunset-orange focus:border-sunset-orange" required>
    </div>

    <div>
      <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
      <input id="password" type="password" formControlName="password" placeholder="Ingresa la contraseña"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-sunset-orange focus:border-sunset-orange" required>
    </div>

    <div>
      <label for="status" class="block text-sm font-medium text-gray-700">Estado</label>
      <select id="status" formControlName="status" 
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-sunset-orange focus:border-sunset-orange">
        <option [value]="true">Activo</option>
        <option [value]="false">Inactivo</option>
      </select>
    </div>

    <div class="flex justify-end space-x-3 mt-6">
      <button type="button" class="px-4 py-2 text-gray-600 border border-gray-300 rounded-md hover:bg-gray-100"
              (click)="onCancel()">
        Cancelar
      </button>
      <button type="button" [disabled]="!userForm.valid"
              class="px-4 py-2 bg-sunset-orange text-white rounded-md hover:bg-dark-gunmetal transition"
              (click)="onSave()">
        Guardar
      </button>
    </div>
  </form>
</div>
