<div class="user-modal-container">
  <h2>Agregar Usuario</h2>
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" placeholder="Ingresa el correo" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" placeholder="Ingresa el nombre" formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Perfil</mat-label>
      <mat-select formControlName="type" required>
        <mat-option value="admin">Administrador</mat-option>
        <mat-option value="user">Usuario</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-group">
      <button mat-button (click)="onCancel()">Cerrar</button>
      <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
    </div>
  </form>
</div>
