<div class="user-modal-container">
  <h2>Agregar Usuario</h2>
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" placeholder="Ingresa el correo" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" placeholder="Ingresa el nombre" formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Apellido</mat-label>
      <input matInput type="text" placeholder="Ingresa el apellido" formControlName="surname" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Usuario</mat-label>
      <input matInput type="text" placeholder="Ingresa el nombre de usuario" formControlName="username" required />
    </mat-form-field>

    <!--
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Tipo de usuario</mat-label>
      <mat-select formControlName="type">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="user">User</mat-option>
      </mat-select>
    </mat-form-field>
    -->

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status">
        <mat-option [value]="true">Activo</mat-option>
        <mat-option [value]="false">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="modal-buttons">
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="onSave()">Guardar</button>
    </div>
  </form>
</div>
