<section
  class="relative bg-fixed bg-galaxy bg-cover bg-center bg-no-repeat overflow-hidden"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/95 to-gray-900/25"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center">
      <h1 class="text-3xl font-extrabold text-white sm:text-5xl">
        Welcome to
        <strong class="block font-extrabold text-sunset-orange">
          BugStack.
        </strong>
      </h1>

      <p class="mt-4 max-w-lg text-white sm:text-xl/relaxed">
        Find solutions, share knowledge, and connect with experts in debugging!
      </p>

      <div class="mt-8 flex justify-center flex-wrap gap-4 text-center">
        <a
          href="#"
          class="block w-full rounded bg-sunset-orange px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
        >
          Join the Community
        </a>

        <a
          href="#"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-sunset-orange shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
        >
          Explore Solutions
        </a>
      </div>
    </div>
  </div>
  <img
    src="assets/img/waveHorizontal.png"
    class="hidden lg:block absolute -bottom-16 left-0 z-10 w-full"
  />
</section>

<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>


<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>
<h1>Coming Soon</h1>


