<section
  class="relative bg-fixed bg-galaxy bg-cover bg-center bg-no-repeat overflow-hidden"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/95 to-gray-900/25"
  ></div>

  <div
    class="relative mx-auto max-w-screen-2xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-full text-center lg:text-left lg:w-1/2">
      <h1 class="text-3xl font-extrabold text-white sm:text-5xl">
        {{ 'home.title' | translate }}
        <strong class="block font-extrabold text-sunset-orange-500">
          {{ 'NamePage' | translate }}.
        </strong>
      </h1>

      <p class="mt-4 max-w-full lg:max-w-lg text-white sm:text-xl/relaxed">
        {{ 'home.description' | translate }}
      </p>

      <div
        class="mt-8 flex justify-center flex-wrap gap-4 text-center lg:justify-start"
      >
        <a
          [routerLink]="['/auth/register']"
          class="block w-full rounded bg-sunset-orange-500 px-12 py-3 text-sm font-medium text-white shadow hover:brightness-90 active:scale-90 sm:w-auto"
        >
          {{ 'home.join' | translate }}
        </a>
      </div>
    </div>

    <div
      class="mt-8 lg:ml-8 lg:w-1/2 hidden lg:flex items-center justify-center"
    >
      <ng-lottie
        [options]="{ path: planetAnimationPath }"
        width="500px"
        height="500px"
        class="flex-shrink-0"
      ></ng-lottie>
    </div>
  </div>

  <img
    src="assets/img/waveHorizontal.png"
    class="hidden lg:block absolute -bottom-16 left-0 w-full"
  />
</section>

<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>
<h1 class="text-9xl"> hola mundo</h1>

