<header
  [ngClass]="{
    'fixed w-full bg-transparent': isFixed,
    'sticky top-0 bg-dark-gunmetal ': !isFixed
  }"
  class="sticky top-0 z-50 transition-colors duration-300 ease-in-out"
>
  <div
    class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
    <a class="block text-teal-600" [routerLink]="['/home']">
      <img src="assets/img/Logo.svg" loading="lazy" class="h-8" alt="icon" />
    </a>

    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li *ngFor="let item of menuItems">
            <a
              class="text-gray-300 transition hover:text-gray-300/75"
              routerLinkActive="text-sunset-orange-500"
              [routerLink]="item.link"
            >
              {{ item.label | translate }}
            </a>
          </li>

          <li class="relative">
            <button
              class="flex items-center text-sm font-medium text-white rounded-full cursor-pointer"
              (click)="toggleLanguageDropdown()"
            >
              <span class="fi fi-{{ activeLanguage }}"></span>
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <div
              *ngIf="isLanguageDropdownOpen"
              class="absolute left-0 mt-2 w-auto z-10 bg-dark-gunmetal text-white rounded-md shadow-lg"
            >
              <li>
                <button
                  class="block px-4 py-2 text-sm hover:bg-sunset-orange-600"
                  (click)="switchLanguage('us'); closeLanguageDropdown()"
                >
                  <span class="fi fi-us"></span>
                </button>
              </li>
              <li>
                <button
                  class="block px-4 py-2 text-sm hover:bg-sunset-orange-600"
                  (click)="switchLanguage('es'); closeLanguageDropdown()"
                >
                  <span class="fi fi-es"></span>
                </button>
              </li>
            </div>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
          <a
            *ngIf="!isLoggedIn"
            class="block rounded-md bg-sunset-orange-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-sunset-orange-700"
            [routerLink]="['/auth/login']"
          >
            {{ 'button.signIn' | translate }}
          </a>
          <a
            *ngIf="!isLoggedIn"
            class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-sunset-orange-600 transition hover:bg-white/75 sm:block"
            [routerLink]="['/auth/register']"
          >
            {{ 'button.singUp' | translate }}
          </a>
          <div *ngIf="isLoggedIn" class="hidden md:relative md:block">
            <button
              type="button"
              class="overflow-hidden rounded-full shadow-inner profile-button"
              (click)="toggleProfileMenu()"
            >
              <span class="sr-only">Toggle dashboard menu</span>

              <ng-container *ngIf="imgUrl; else avatarTemplate">
                <img
                  [src]="imgUrl"
                  alt="{{ username }}"
                  class="w-11 h-11 rounded-full object-cover"
                />
              </ng-container>
              <ng-template #avatarTemplate>
                <ngx-avatars
                  name="{{ username }}"
                  size="44"
                  [textSizeRatio]="2"
                ></ngx-avatars>
              </ng-template>
            </button>

            <div
              *ngIf="isProfileMenuOpen"
              class="absolute end-0 z-10 mt-0.5 w-auto divide-y divide-gray-100 rounded-md border border-gray-100 bg-white shadow-lg profile-menu"
              role="menu"
            >
              <div class="px-2">
                <p
                  class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50"
                >
                  {{ username }}
                </p>
              </div>
              <div class="p-2">
                <a
                  [routerLink]="['/profile']"
                  (click)="closeProfileMenu()"
                  class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  role="menuitem"
                >
                  {{ 'button.myProfile' | translate }}
                </a>
                <a
                  [routerLink]="['/auth/change-password']"
                  (click)="closeProfileMenu()"
                  class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  role="menuitem"
                >
                  {{ 'button.changePassword' | translate }}
                </a>
                <a
                  [routerLink]="['/admin']"
                  (click)="closeProfileMenu()"
                  class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  role="menuitem"
                >
                  {{ 'button.dashboard' | translate }}
                </a>
                <button
                  type="submit"
                  class="flex w-full items-center gap-2 rounded-lg px-4 py-2 text-sm text-red-700 hover:bg-red-50"
                  role="menuitem"
                  (click)="logout(); closeProfileMenu()"
                >
                  {{ 'button.logout' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <button
          class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
