.custom-badge {
    background-color: #4caf50; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    border-radius: 50%; /* Hace la insignia circular */
    padding: 0.5em;
  }