<div class="bg-dark-gunmetal lg:h-screen">
  <div class="grid lg:grid-cols-2 items-center gap-8 h-full">
    <div class="flex items-center justify-center lg:p-8 p-6 bg-white h-screen">
      <div class="max-w-lg w-full">
        <div class="mb-0 xl:mb-12">
          <h3
            class="text-sunset-orange-500 lg:text-3xl text-2xl font-extrabold max-lg:text-center"
          >
            {{ 'forgotPassword.title' | translate }}
          </h3>
        </div>

        <mat-stepper
          #stepper
          linear
          class="!m-0 !p-0"
          [orientation]="(stepperOrientation | async)!"
        >
          <!--  * First step -->
          <mat-step
            class="!m-0 !p-0"
            [stepControl]="emailForm"
            label="{{ 'forgotPassword.label-1' | translate }}"
            [editable]="isEditable"
          >
            <form
              [formGroup]="emailForm"
              (ngSubmit)="onSubmit()"
              class="space-y-8 mt-6"
            >
              <p
                class="text-sm text-center font-medium mb-6 tracking-wide text-gray-500 max-xl:text-left"
              >
                {{ 'forgotPassword.descriptionEmail' | translate }}
              </p>

              <div class="relative">
                <div>
                  <div class="relative flex items-center group">
                    <input
                      formControlName="email"
                      name="email"
                      type="text"
                      class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
                      placeholder="{{ 'input.email.placeholder' | translate }}"
                    />
                    <div
                      class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
                    >
                      <mat-icon aria-label="Email icon">email</mat-icon>
                    </div>
                  </div>
                </div>

                <p
                  *ngIf="
                    emailForm.get('email')?.errors &&
                    (emailForm.get('email')?.touched ||
                      emailForm.get('email')?.dirty)
                  "
                  class="absolute w-full text-red-500 text-xs text-center font-medium mt-1 h-5"
                >
                  {{ getErrorMessage('email') }}
                </p>
              </div>

              <div class="flex space-x-4">
                <button
                  class="text-dark-gunmetal text-sm hover:text-metallic-blue font-semibold w-full active:scale-95 transition-colors duration-300 ease-in-out"
                  type="button"
                  [routerLink]="['/auth/login']"
                >
                  {{ 'button.back' | translate }}
                </button>
                <button
                  class="w-full py-3 px-6 text-sm font-semibold bg-sunset-orange-500 rounded-md text-white focus:outline-none transition-colors duration-300 ease-in-out"
                  [ngClass]="{
                    'opacity-60 cursor-not-allowed': emailForm.invalid,
                    ' active:scale-95  hover:bg-sunset-orange-600':
                      emailForm.valid
                  }"
                  type="submit"
                  [disabled]="!emailForm.valid"
                >
                  {{ 'button.continue' | translate }}
                </button>
              </div>
            </form>
          </mat-step>

          <!--  * Second step -->
          <mat-step
            [stepControl]="passwordChangeForm"
            label="{{ 'forgotPassword.label-2' | translate }}"
            [editable]="isEditable"
          >
            <form
              [formGroup]="passwordChangeForm"
              (ngSubmit)="resetPasswordOnSubmit()"
              class="space-y-8 mt-6"
            >
              <p
                class="text-sm text-center font-medium mb-6 tracking-wide text-gray-500 max-xl:text-left"
              >
                {{ 'forgotPassword.descriptionCode' | translate }}
              </p>

              <div class="relative">
                <div class="relative flex items-center group">
                  <input
                    type="text"
                    id="code"
                    name="code"
                    formControlName="code"
                    placeholder="{{ 'input.code.placeholder' | translate }}"
                    class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
                  />
                  <div
                    class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
                  >
                    <mat-icon aria-label="Code icon">password</mat-icon>
                  </div>
                </div>
                <p
                  *ngIf="
                    passwordChangeForm.get('code')?.errors &&
                    (passwordChangeForm.get('code')?.touched ||
                      passwordChangeForm.get('code')?.dirty)
                  "
                  class="absolute w-full text-red-500 text-xs text-center font-medium mt-1"
                >
                  {{ getErrorMessage('code') }}
                </p>
              </div>

              <div class="relative">
                <div class="relative flex items-center group">
                  <input
                    [type]="hide ? 'password' : 'text'"
                    id="newPassword"
                    name="newPassword"
                    formControlName="newPassword"
                    placeholder="{{
                      'input.newPassword.placeholder' | translate
                    }}"
                    class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
                  />
                  <div
                    class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
                  >
                    <button
                      type="button"
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? 'visibility_off' : 'visibility'
                      }}</mat-icon>
                    </button>
                  </div>
                </div>
                <p
                  *ngIf="
                    passwordChangeForm.get('newPassword')?.errors &&
                    (passwordChangeForm.get('newPassword')?.touched ||
                      passwordChangeForm.get('newPassword')?.dirty)
                  "
                  class="absolute w-full text-red-500 text-xs text-center font-medium mt-1"
                >
                  {{ getErrorMessage('newPassword') }}
                </p>
              </div>

              <div class="relative">
                <div class="relative flex items-center group">
                  <input
                    [type]="hideConfirm ? 'password' : 'text'"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="{{
                      'input.confirmPassword.placeholder' | translate
                    }}"
                    formControlName="confirmPassword"
                    class="w-full bg-transparent text-sm border-b border-gray-300 focus:border-dark-gunmetal px-2 py-3 outline-none"
                  />
                  <div
                    class="w-[18px] h-[18px] absolute right-4 text-gray-300 group-focus-within:text-dark-gunmetal"
                  >
                    <button
                      type="button"
                      (click)="hideConfirm = !hideConfirm"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideConfirm"
                    >
                      <mat-icon>{{
                        hideConfirm ? 'visibility_off' : 'visibility'
                      }}</mat-icon>
                    </button>
                  </div>
                </div>
                <p
                  *ngIf="
                    passwordChangeForm.get('confirmPassword')?.errors &&
                    (passwordChangeForm.get('confirmPassword')?.touched ||
                      passwordChangeForm.get('confirmPassword')?.dirty)
                  "
                  class="absolute w-full text-red-500 text-xs text-center font-medium mt-1"
                >
                  {{ getErrorMessage('confirmPassword') }}
                </p>
              </div>
              <div class="flex space-x-4">
                <button
                  class="text-dark-gunmetal text-sm tracking-wider hover:text-metallic-blue font-semibold w-full active:scale-95 transition-colors duration-300 ease-in-out"
                  type="button"
                  matStepperPrevious
                >
                  {{ 'button.back' | translate }}
                </button>
                <button
                  class="w-full py-3 px-6 text-sm font-semibold bg-sunset-orange-500 rounded-md text-white focus:outline-none transition-colors duration-300 ease-in-out"
                  [ngClass]="{
                    'opacity-60 cursor-not-allowed': passwordChangeForm.invalid,
                    ' active:scale-95  hover:bg-sunset-orange-600':
                      passwordChangeForm.valid
                  }"
                  type="submit"
                  [disabled]="!passwordChangeForm.valid"
                >
                  {{ 'button.change' | translate }}
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step label="{{ 'forgotPassword.label-3' | translate }}">
            <div class="text-center space-y-5 mt-6">
              <h4 class="text-gray-800 text-2xl font-extrabold">
                {{ 'forgotPassword.success' | translate }}
              </h4>
              <p
                class="text-sm text-center font-medium mb-6 tracking-wide text-gray-500 max-xl:text-left"
              >
                {{ 'forgotPassword.descriptionConfirm' | translate }}
              </p>
              <div>
                <button
                  [routerLink]="['/auth/login']"
                  class="w-full py-3 px-6 text-base tracking-wider font-semibold bg-sunset-orange-500 rounded-md text-white focus:outline-none transition-colors duration-300 ease-in-out"
                >
                  {{ 'button.login' | translate }}
                </button>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>

    <div class="max-lg:order-1 p-4 hidden lg:block">
      <img
        src="../../../assets/svg/forgotPassowrd.svg"
        class="lg:max-w-[80%] w-full h-full object-contain block mx-auto"
        alt="forgot-password-decoration"
      />
    </div>
  </div>
</div>
