<h1 mat-dialog-title>New Question</h1>
<div mat-dialog-content>
    <form>
        <mat-form-field class="w-full">
            <mat-label>Título</mat-label>
            <input matInput [(ngModel)]="title" name="title">
        </mat-form-field>

        <mat-form-field class="w-full mt-4">
            <mat-label>Descripción</mat-label>
            <textarea matInput [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>
    </form>

    <div *ngIf="tags.length > 0" class="mt-4">
        <div class="flex flex-wrap gap-2 text-sm font-medium lowercase justify-center">
            <span class="flex items-center cursor-pointer" *ngFor="let tag of tags"
                [ngClass]="{'bg-blue-200': isTagSelected(tag.idTag)}" (click)="toggleTagSelection(tag.idTag)">
                <img *ngIf="getTagClass(tag.name).iconUrl" [src]="getTagClass(tag.name).iconUrl" alt="{{tag.name}}"
                    class="w-4 h-4 tag-icon">
                <span class="first-letter:uppercase">{{ tag.name }}</span>
            </span>
        </div>
    </div>

    <div class="mt-4 text-center">
        <button (click)="changePage(-1)" [disabled]="isFirstPage"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1">Anterior</button>
        <button (click)="changePage(1)" [disabled]="isLastPage"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1">Siguiente</button>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button color="primary" (click)="saveQuestion()">Guardar</button> <!-- Botón para guardar -->
</div>