<h1 mat-dialog-title>Agregar Comentario</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="data.title">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput rows="4" [(ngModel)]="data.description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button>
</div>