<form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()" class="space-y-5 mt-6">
    <p class="text-gray-600 text-center text-sm mb-4">
      Enter the verification code sent to your email and set a new password.
    </p>
  
    <div class="relative">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        formControlName="email"
        class="bg-bright-gray w-full text-gray-800 px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200"
        [value]="email"
        readonly
      />
    </div>
  
    <div class="relative">
      <input
        type="text"
        id="verificationCode"
        name="verificationCode"
        placeholder="Verification Code"
        formControlName="verificationCode"
        class="bg-bright-gray w-full text-gray-800 px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200"
        autocomplete="off"
      />
    </div>
  
    <div class="relative">
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        placeholder="New Password"
        formControlName="newPassword"
        class="bg-bright-gray w-full text-gray-800 px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200"
        autocomplete="off"
      />
    </div>
  
    <div class="relative">
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        class="bg-bright-gray w-full text-gray-800 px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200"
        autocomplete="off"
      />
    </div>
  
    <div class="flex space-x-4">
      <button
        class="w-full bg-dark-gunmetal text-white p-2 rounded-md hover:bg-charcoal transition-colors duration-200"
        type="button"
        (click)="onBack()"
      >
        Back
      </button>
      <button
        class="w-full text-white p-2 rounded-md transition-colors duration-200"
        [ngClass]="{
          'bg-dark-gunmetal hover:bg-charcoal': !passwordChangeForm.valid,
          'bg-verdigris': passwordChangeForm.valid
        }"
        type="submit"
        [disabled]="!passwordChangeForm.valid"
      >
        Change Password
      </button>
    </div>
  </form>
  