<mat-sidenav-container class="h-full-screen">
  <mat-sidenav
    mode="side"
    opened
    [style.width]="sidenavWidth()"
    (mouseenter)="expandSidenav()"
    (mouseleave)="collapseSidenav()"
  >
    <mat-nav-list class="">
      <a
        mat-list-item
        class="menu-item"
        *ngFor="let item of menuItems()"
        [routerLink]="item.route"
        routerLinkActive="select-menu-item"
        #rla="routerLinkActive"
        [activated]="rla.isActive"
      >
        <mat-icon routerLinkActive="text-sunset-orange-500" matListItemIcon>{{
          item.icon
        }}</mat-icon>
        <span routerLinkActive="text-sunset-orange-500" matListItemTitle>{{
          item.label
        }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="p-6" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
