<div class="bg-gray-50 sm:px-6 px-4 py-12 min-h-full-screen">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-12 max-lg:max-w-lg mx-auto">
      <a
        *ngFor="let publication of publications"
        class="cursor-pointer group active:scale-95 transform duration-75 ease-in-out"
      >
        <div class="bg-gray-100 text-gray-800 h-full flex flex-col">
          <div class="container max-w-4xl mx-auto rounded-lg shadow-sm bg-white flex flex-col h-full ">
            <img
              [src]="publication.image"
              alt="Imagen de {{ publication.title }}"
              class="w-full h-64 object-cover rounded-t-lg"
            />
            <div class="flex flex-col justify-between p-4 flex-grow">
              <div class="mb-4">
                <div class="flex items-center justify-between">
                  <span class="text-sm text-gray-600">{{
                    publication.dateCreation | dateFormat: 'FORMAT-1'
                  }}</span>
                  <a
                    rel="noopener noreferrer"
                    href="#"
                    class="px-2 py-1 font-bold rounded bg-violet-600 text-gray-50"
                  >
                    Javascript
                  </a>
                </div>
                <h1 class="text-2xl font-bold mt-2 hover:underline">
                  {{ publication.title }}
                </h1>
                <p class="mt-2 break-words overflow-hidden text-ellipsis">
                  {{
                    publication.description
                  }}
                </p>
              </div>
              <a href="#" class="text-blue-500 hover:underline mt-auto">Ver más</a>
            </div>
            <div class="flex items-center justify-between p-4">
              <div class="flex items-center">
                <img
                  [src]="publication.author.avatar"
                  alt="avatar"
                  class="object-cover w-10 h-10 mx-4 rounded-full bg-gray-500"
                />
                <span class="hover:underline text-gray-600 capitalize">
                  {{
                    ('news.by' | translate) +
                      ': ' +
                      publication.author.name +
                      ' ' +
                      publication.author.surname
                  }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a
      *ngFor="let publication of publications"
      class="cursor-pointer group active:scale-95 transform duration-75 ease-in-out"
    >
      <div class="bg-gray-100 text-gray-800 h-full flex flex-col">
        <div class="container max-w-4xl mx-auto rounded-lg shadow-sm bg-white flex flex-col h-full ">
          <img
            [src]="publication.image"
            alt="Imagen de {{ publication.title }}"
            class="w-full h-64 object-cover rounded-t-lg"
          />
          <div class="flex flex-col justify-between p-4 flex-grow">
            <div class="mb-4">
              <div class="flex items-center justify-between">
                <span class="text-sm text-gray-600">{{
                  publication.dateCreation | dateFormat: 'FORMAT-1'
                }}</span>
                <a
                  rel="noopener noreferrer"
                  href="#"
                  class="px-2 py-1 font-bold rounded bg-violet-600 text-gray-50"
                >
                  Javascript
                </a>
              </div>
              <h1 class="text-2xl font-bold mt-2 hover:underline">
                {{ publication.title }}
              </h1>
              <p class="mt-2 break-words overflow-hidden text-ellipsis">
                {{
                  publication.description
                }}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              </p>
            </div>
            <a href="#" class="text-blue-500 hover:underline mt-auto">Ver más</a>
          </div>
          <div class="flex items-center justify-between p-4">
            <div class="flex items-center">
              <img
                [src]="publication.author.avatar"
                alt="avatar"
                class="object-cover w-10 h-10 mx-4 rounded-full bg-gray-500"
              />
              <span class="hover:underline text-gray-600 capitalize">
                {{
                  ('news.by' | translate) +
                    ': ' +
                    publication.author.name +
                    ' ' +
                    publication.author.surname
                }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>
