<a
  [routerLink]="['/add-new']"
  mat-fab
  class="bg-sunset-orange-500 fixed bottom-6 right-6"
>
  <mat-icon>add</mat-icon>
</a>

<section class="container mx-auto px-4 py-16">
  <div class="flex items-center justify-between">
    <h2 class="text-gray-800 font-bold text-3xl">
      {{ 'news.title' | translate }}
    </h2>
  </div>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 mt-12 xl:grid-cols-3">
    <div *ngFor="let publication of publications">
      <img
        class="object-cover object-center w-full h-64 rounded-lg lg:h-80"
        [src]="publication.image"
        alt=""
      />
      <div class="mt-8">
        <h1 class="mt-4 text-xl font-semibold text-gray-800 truncate">
          {{ publication.title }}
        </h1>
        <p class="mt-2 text-gray-500 min-h-[72px] line-clamp-3">
          {{ publication.description }}
        </p>
        <div class="flex items-center justify-between mt-4">
          <div>
            <span
              class="text-lg font-medium text-gray-700 0 hover:underline hover:text-gray-500 capitalize"
            >
              {{ publication.author.name + ' ' + publication.author.surname }}
            </span>
            <p class="text-sm text-gray-500">
              {{ publication.dateCreation | dateFormat: 'FORMAT-1' }}
            </p>
          </div>
          <a
            [routerLink]="['/news-detail', publication.idPublication]"
            class="inline-block text-sky-500 underline hover:text-sky-400"
            >{{ 'news.seeMore' | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
