<div class="font-[sans-serif] bg-dark-gunmetal lg:h-screen">
  <div class="grid lg:grid-cols-2 items-center gap-8 h-full">

    <div class="max-lg:order-1 p-4 hidden lg:block">
      <img src="../../../assets/svg/login.svg" class="lg:max-w-[80%] w-full h-full object-contain block mx-auto"
        alt="login-image" />
    </div>

    <div class="flex items-center justify-center lg:p-8 p-6 bg-white h-screen">
      <div class="max-w-lg w-full">
        <div class="mb-12">
          <h3 class="text-gray-800 text-4xl font-extrabold">Sing - in</h3>
          <p class="text-sm font-medium mb-6 tracking-wide text-gray-500">
            Welcome back! Please log in to your account to continue.
          </p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <div>
            <div class="relative">
              <input type="email" id="email" formControlName="email" placeholder="Email"
                class="bg-light-gray w-full text-gray-800 text-base px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200"
                autocomplete="off">
              <div class="absolute inset-y-0 right-4 flex items-center">
                <mat-icon aria-label="Email icon">email</mat-icon>
              </div>
            </div>
            <p *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
              class="text-red-500 text-xs text-center font-medium mt-1 h-5">
              {{ getErrorMessage('email') }}
            </p>

          </div>
          <div class="relative">
            <input [type]="hide ? 'password' : 'text'" id="password" formControlName="password" placeholder="Password"
              class="bg-light-gray w-full text-gray-800 text-base px-3 py-3 border-b border-dark-gunmetal outline-none focus:bg-gray-200"
              autocomplete="off">
            <div class="absolute inset-y-0 right-4 flex items-center">
              <button type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon class="text-">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </div>
            <p *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
              class="text-red-500 text-xs text-center mt-1 h-5">
              {{ getErrorMessage('password') }}
            </p>

          </div>
          <div class="flex flex-wrap items-center justify-between gap-4">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox"
                class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
              <label for="remember-me" class="ml-3 block text-sm text-gray-800">Remember me</label>
            </div>
            <div class="text-sm">
              <a routerLink="/auth/forgot-password" class="text-blue-600 hover:underline font-medium">Forgot your
                password?</a>
            </div>
          </div>
          <div>
            <button type="submit" [disabled]="loginForm.invalid"
              class="w-full p-3 lg:p-3 rounded transition-colors duration-200 text-white font-bold" [ngClass]="{
                'bg-metallic-blue cursor-not-allowed': loginForm.invalid,
                'bg-sunset-orange active:scale-95': loginForm.valid
              }">
              Login
            </button>
          </div>
        </form>
        <div class="mt-4 text-sm text-gray-600 text-center">
          <p>Don't have an account yet? <a href="#" class="text-black hover:underline">Sign up here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>