@use '@angular/material' as mat;

$dark-gunmetal: #222831;
$charcoal: #31363F;
$verdigris: #76ABAE;
$bright-gray: #EEEEEE;
$red-white: #FEF3F2;
$garnet: #821E13;


.users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;

  .users-card {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 900px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .users-title {
      align-self: flex-start;
      margin-bottom: 20px;
      color: $dark-gunmetal;
      font-size: 26px;
    }

    .add-user-button {
      position: relative;
      align-self: flex-end;
      margin-bottom: 20px;
      background-color: $verdigris;
      color: white;

      &:hover {
        background-color: $charcoal;
      }
    }

    .users-content-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    .users-table-container {
      width: 100%;
      overflow-x: auto;
      margin-top: 60px;
      flex-grow: 1;
    }

    /* Aquí se ajusta solo el paginator */
    mat-paginator {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px; /* Espacio arriba del paginator */
    }

    @media (max-width: 430px) {
      padding: 20px;
      height: auto;

      mat-paginator {
        width: 100%; /* El paginator ocupará el 100% del contenedor */
        margin-top: 10px; /* Ajustamos el margen superior */
      }
    }
  }
}

/* Estilos para las cards sin modificar su lógica */
.user-profile-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin: 10px 0;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease;

    &.active .user-details-card {
      max-height: 500px;
      padding: 10px;
      margin-top: 10px;
      display: block;
      overflow: visible;
    }

    .user-details-card {
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
    }

    .options {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
    }

    .action-icon {
      width: 24px;
      height: 24px;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }

      @media (max-width: 430px) {
        width: 18px;
        height: 18px;
      }
    }
  }
}



