<div class="min-h-full-screen p-4 flex flex-col space-y-4">
  <div class="flex flex-col lg:flex-row lg:w-full space-x-4">
    <div class="bg-white user-list-container p-4 rounded-lg space-y-2 lg:w-1/4 w-full">
      <h1 class="text-xl font-bold mb-4 w-full">{{ 'users.title' | translate }}</h1>

      <!-- Barra de búsqueda -->
      <div class="relative mb-4">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input
          type="text"
          placeholder="{{ 'users.searchUser' | translate }}"
          (input)="filterUsers($event)"
          class="block w-full p-2 ps-10 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400"
        />
      </div>

      <!-- Tarjetas de usuario -->
      <div *ngFor="let user of paginatedUsers" class="bg-white rounded-lg p-2 cursor-pointer">
        <div (click)="user.isExpanded = !user.isExpanded" class="flex justify-between items-center">
          <div class="flex items-center">
            <div class="h-2.5 w-2.5 rounded-full me-2" [ngClass]="{ 'bg-green-500': user.status, 'bg-red-500': !user.status }"></div>
            <div>
              <h2 class="text-sm font-bold">{{ user.name }} {{ user.surname }}</h2>
              <p class="text-xs text-gray-600">{{ user.username }}</p>
            </div>
          </div>
          <div>
            <button class="text-blue-500 hover:text-blue-700 ml-2">
              <svg *ngIf="!user.isExpanded" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
              <svg *ngIf="user.isExpanded" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
              </svg>
            </button>
          </div>
        </div>

        <div *ngIf="user.isExpanded" class="p-2 bg-gray-100 rounded-lg mt-1 space-y-2">
          <div>
            <p class="text-xs"><strong>{{ 'users.data.email' | translate }}:</strong> {{ user.email }}</p>
          </div>

          <!-- Modo edición -->
          <div *ngIf="user.isEditing" class="space-y-2">
            <label class="block text-xs font-medium">{{ 'users.data.name' | translate }}</label>
            <input [(ngModel)]="user.name" class="block w-full p-2 text-xs text-gray-700 border-b border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none" />

            <label class="block text-xs font-medium">{{ 'users.data.surname' | translate }}</label>
            <input [(ngModel)]="user.surname" class="block w-full p-2 text-xs text-gray-700 border-b border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none" />

            <label class="block text-xs font-medium">{{ 'users.data.username' | translate }}</label>
            <input [(ngModel)]="user.username" class="block w-full p-2 text-xs text-gray-700 border-b border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none" />
          </div>

          <div class="flex justify-between mt-2">
            <button mat-button *ngIf="!user.isEditing" (click)="editUser(user)" class="bg-sunset-orange-600 text-white hover:bg-sunset-orange-500 rounded px-2 py-1 text-sm">{{ 'button.update' | translate }}</button>
            <button mat-button *ngIf="user.isEditing" (click)="saveUser(user)" class="bg-sunset-orange-400 text-white hover:bg-sunset-orange-300 rounded px-2 py-1 text-sm">{{ 'button.save' | translate }}</button>
            <button mat-button *ngIf="user.isEditing" (click)="cancelEdit(user)" class="bg-sunset-orange-300 text-white hover:bg-sunset-orange-200 rounded px-2 py-1 text-sm">{{ 'button.cancel' | translate }}</button>
            <button mat-button *ngIf="!user.isEditing" (click)="user.status ? disableUser(user) : enableUser(user)" [ngClass]="user.status ? 'bg-sunset-orange-700' : 'bg-green-600'" class="text-white hover:bg-sunset-orange-600 rounded px-2 py-1 text-sm"> {{ user.status ? ('button.disable' | translate) : ('button.enable' | translate) }} </button>
          </div>
        </div>
      </div>

      <!-- Paginador -->
      <div class="mt-2">
        <mat-paginator
          [length]="filteredUsers.length"
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="pageSize"
          (page)="onPageChange($event)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>

    <!-- Contenedor derecho que incluye "Agregar Usuario" y "Administración General" -->
    <div class="flex flex-col space-y-4 lg:w-3/4 w-full">
      <!-- Contenedor de agregar usuario -->
      <div class="bg-white p-6 border-b-2 border-gray-300 rounded-lg w-full">
        <h2 class="text-lg font-bold mb-4">{{ 'users.addTitle' | translate }}</h2>
        <form (ngSubmit)="addUser()">
          <div class="flex flex-col lg:flex-row lg:space-x-4">
            <div class="w-full lg:w-1/2 mb-4">
              <label class="block text-sm font-medium">{{ 'users.data.name' | translate }}</label>
              <input [(ngModel)]="newUser.name" name="name" class="block w-full p-4 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400" required />
            </div>
            <div class="w-full lg:w-1/2 mb-4">
              <label class="block text-sm font-medium">{{ 'users.data.surname' | translate }}</label>
              <input [(ngModel)]="newUser.surname" name="surname" class="block w-full p-4 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400" required />
            </div>
          </div>

          <div class="flex flex-col lg:flex-row lg:space-x-4">
            <div class="w-full lg:w-1/2 mb-4">
              <label class="block text-sm font-medium">{{ 'users.data.username' | translate }}</label>
              <input [(ngModel)]="newUser.username" name="username" class="block w-full p-4 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400" required />
            </div>
            <div class="w-full lg:w-1/2 mb-4">
              <label class="block text-sm font-medium">{{ 'users.data.email' | translate }}</label>
              <input [(ngModel)]="newUser.email" name="email" class="block w-full p-4 text-sm text-gray-700 border-b-2 border-gray-500 bg-white focus:bg-gray-100 focus:border-gray-700 focus:ring-0 focus:outline-none placeholder-gray-400" required />
            </div>
          </div>

          <!-- Botón Agregar Usuario -->
          <div class="flex justify-end mt-4">
            <button type="submit" class="bg-sunset-orange-500 text-white hover:bg-sunset-orange-400 rounded px-4 py-2">{{ 'button.create' | translate }}</button>
          </div>
        </form>
      </div>

      <!-- Contenedor de Administración General -->
      <div class="bg-white p-6 border-b-2 border-gray-300 rounded-lg w-full">
        <h2 class="text-lg font-bold mb-4">{{ 'users.AdministrationTitle' | translate }}</h2>
        <p class="text-sm">{{ 'users.AdministrationTitle' | translate }}</p>
      </div>
    </div>
  </div>
</div>
