<div class="users-container">
  <div class="users-card">
    <h1 class="users-title">Usuarios</h1>

    <!-- Botón para agregar usuarios -->
    <button mat-raised-button class="add-user-button" (click)="openDialog()">
      <span *ngIf="!isSmallScreen">Agregar Usuario</span>
      <span *ngIf="isSmallScreen">+</span>
    </button>

    <div class="users-content-container">
      <!-- Vista para pantallas grandes -->
      <div class="users-table-container" *ngIf="!isSmallScreen">
        <table mat-table [dataSource]="dataSource" class="users-table">
          <!-- Columnas de la tabla -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> NAME </th>
            <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> EMAIL </th>
            <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> TYPE </th>
            <td mat-cell *matCellDef="let user"> {{ user.type }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> STATUS </th>
            <td mat-cell *matCellDef="let user"> {{ user.status }} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> EDIT </th>
            <td mat-cell *matCellDef="let user">
              <button mat-icon-button (click)="editUser(user)">
                <img src="assets/img/IconEdit.png" alt="Editar" class="action-icon edit-icon">
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> DELETE </th>
            <td mat-cell *matCellDef="let user">
              <button mat-icon-button (click)="deleteUser(user)">
                <img src="assets/img/IconDelete.png" alt="Eliminar" class="action-icon delete-icon">
              </button>
            </td>
          </ng-container>

          <!-- Filas de la tabla -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <!-- Vista para pantallas móviles -->
      <ul class="user-profile-list" *ngIf="isSmallScreen">
        <li *ngFor="let user of dataSource.filteredData" (click)="toggleCard(user)">
          {{ user.name }}
          <div class="user-details-card" [ngClass]="{ 'active': selectedUser === user }">
            <p><strong>STATUS:</strong> {{ user.status }}</p>
            <p><strong>NAME:</strong> {{ user.name }}</p>
            <p><strong>EMAIL:</strong> {{ user.email }}</p>
            <p><strong>TYPE:</strong> {{ user.type }}</p>
            <div class="options">
              <button mat-icon-button color="warn" (click)="deleteUser(user)">
                <img src="assets/img/IconDelete.png" alt="Eliminar" class="action-icon delete-icon">
              </button>
              <button mat-icon-button color="primary" (click)="editUser(user)">
                <img src="assets/img/IconEdit.png" alt="Editar" class="action-icon edit-icon">
              </button>
            </div>
          </div>
        </li>
      </ul>

      <!-- Paginación -->
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
