<div class="flex flex-col lg:flex-row max-h-full-screen h-full">
  <div class="flex-1 overflow-auto p-6">
    <div *ngFor="let question of questions"
      class="bg-white shadow-[0_2px_10px_rgba(0,0,0,0.2)] rounded-lg mb-3 p-6 pb-2 break-words max-h-56 overflow-hidden">
      <div class="flex items-start space-x-4">
        <img src="../../../../assets/img/Profile2.jpg" alt="User" class="w-12 h-12 rounded-full" />
        <div class="break-words flex-1">
          <div class="flex justify-between items-center text-blue-500">
            <h2 class="text-xl font-normal mb-2 break-all overflow-hidden max-h-10 line-clamp-1">
              <a [routerLink]="['/answers', question.idQuestion]">{{ question.title }}</a>
            </h2>
          </div>
          <p class="text-gray-800 mb-4 break-all overflow-hidden max-h-20 line-clamp-2">
            {{ question.description }}
          </p>
          <div class="flex items-center text-sm font-medium flex-wrap gap-2 lowercase">
            <span class="flex items-center" *ngFor="let tag of question.tags" [ngClass]="getTagClass(tag.name).class">
              <img *ngIf="getTagClass(tag.name).iconUrl" [src]="getTagClass(tag.name).iconUrl" alt="{{ tag.name }}"
                class="w-4 h-4 tag-icon max-w-full" />
              <span class="first-letter:uppercase">{{ tag.name }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator [length]="totalItems" [pageIndex]="currentPage" [hidePageSize]="true" [pageSize]="10"
      (page)="handlePageEvent($event)" class="flex justify-center mt-4">
    </mat-paginator>
  </div>
</div>

<div class="fixed bottom-6 right-6">
  <button
    class="bg-metallic-blue hover:bg-dark-gunmetal rounded-full text-sm p-3.5 text-center text-white inline-flex items-center"
    (click)="openQuestionModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>