<div class="flex flex-col lg:flex-row gap-8 min-h-full relative">
    <div class="lg:w-3/4">
        <div *ngFor="let question of questions" class="bg-white shadow rounded-lg mb-2 p-6">
            <div class="flex items-start space-x-4">
                <div class="flex-1">
                    <div class="flex justify-between items-center text-blue-500">
                        <h2 class="text-xl font-normal mb-2">
                            <a href="">{{ question.title }}</a>
                        </h2>
                    </div>
                    <p class="text-gray-600 mb-4">{{ question.description }}</p>
                </div>
            </div>
            <hr class="border-t border-gray-300 my-2">
            <div class="flex items-center text-sm font-medium space-x-2 lowercase">
                <!-- Diseño de los tags de las preguntas -->
                <span class="flex items-center" *ngFor="let tag of question.tags"
                    [ngClass]="getTagClass(tag.name).class">
                    <img *ngIf="getTagClass(tag.name).iconUrl" [src]="getTagClass(tag.name).iconUrl" alt="{{tag.name}}"
                        class="w-4 h-4 tag-icon">
                    <span class="first-letter:uppercase">{{ tag.name }}</span>
                </span>
            </div>
        </div>
    </div>

    <div class="lg:w-1/4">
        <div class="bg-white shadow rounded-lg mb-6 p-6">
            <h3 class="text-xl font-semibold mb-4">Etiquetas relacionadas</h3>
            <div *ngIf="relatedTags.length > 0">
                <div class="flex flex-wrap gap-2 text-sm font-medium lowercase">
                    <span class="flex items-center" *ngFor="let tag of relatedTags"
                        [ngClass]="getTagClass(tag.name).class">
                        <img *ngIf="getTagClass(tag.name).iconUrl" [src]="getTagClass(tag.name).iconUrl"
                            alt="{{tag.name}}" class="w-4 h-4 tag-icon">
                        <span class="first-letter:uppercase">{{ tag.name }}</span>
                    </span>
                </div>
            </div>
            <div class="mt-4">
                <button (click)="changePage(-1)" [disabled]="isFirstPage"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1">
                    Anterior
                </button>
                <button (click)="changePage(1)" [disabled]="isLastPage"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1">
                    Siguiente
                </button>
            </div>
        </div>
    </div>
</div>

<div class="fixed bottom-4 right-4">
    <button mat-fab class="bg-sunset-orange-500">
        <mat-icon>add</mat-icon>
    </button>
</div>